<ion-view title="பயிற்சி 2" id="page24">
  <ion-content padding="true" style="background: url(img/B40ZQf05Q0AXbZCCE7T4_70243442-cartoon-wallpapers.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h4 id="2-heading24" style="color:#000000;">கொடுக்கப்பட்ட படங்களுக்கு ஏற்ற பால் வகைகளை எழுதுக.</h4>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/icCQH3LgRRi36se2K48Z_Slide3.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/XuNei6dGQGCNcYLD2Ns4_Slide4.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>