<ion-view title="ஆண்பால்" id="page10">
  <ion-content padding="true" style="background: url(img/1e3yL9fOTrCQWLfQQgNX_70243442-cartoon-wallpapers.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="page3()" id="page10-button15" class="button button-positive button-block">விளக்கம்</a>
    <a ui-sref="page12()" id="page10-button24" class="button button-positive button-block">எடுத்துக்காட்டுகள்</a>
    <a ui-sref="page27()" id="page10-button25" class="button button-positive button-block">காணொளி</a>
    <div>
      <img src="img/vGo1gSubT8iS9a7Uj2r5_tenor.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>