<ion-view title="ஒன்றன்பால் " id="page13">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video5=&quot;https://www.youtube.com/embed/B-3MZ8_WTsc?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page13-video5">
      <iframe src="{{videourl_video5}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </ion-content>
</ion-view>