<ion-view title="பலர்பால்" id="page19" style="background-color:#F2E234;">
  <ion-content padding="true" style="background: url(img/EFJER7HQSSGOOhf6ilrC_69893167-cartoon-wallpapers.jpeg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/NMRmkxSiCMJtEtYOiRyg_clip-art-for-teachers-16.jpg" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="page19-heading16" style="color:#000000;text-align:center;">ஆசிரியர்கள்</h3>
    <div>
      <img src="img/wKwy8RINSwaqcBMcESzu_4d4H.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="page19-heading15" style="color:#000000;text-align:center;">மாணவர்கள்</h3>
  </ion-content>
</ion-view>