<ion-view title="இனிய தமிழ் இலக்கணம்" id="page32">
  <ion-content padding="true" class="has-header">
    <h3 id="page32-heading19" style="color:#000000;font-weight:300;text-align:center;">இனிய தமிழ் இலக்கணம் எனும் செயலியைப் பயன்படுத்தியதற்கு மிக்க நன்றி!!</h3>
    <div class="list card" id="page32-card23">
      <div class=" item item-image">
        <img src="img/ir85LuMtRUmJ05n76O5E_2018-03-27-08-08-34-846.jpg" style="display: block; width: 30%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </div>
    <h5 id="page32-heading20" style="color:#000000;font-weight:600;text-align:right;">தயாரித்தவர் : ஐஸ்வர்யா ராஜசேகர் </h5>
    <h5 id="page32-heading21" style="color:#000000;font-weight:600;text-align:right;">தமிழ் மொழி பருவம் 6</h5>
    <h5 id="page32-heading22" style="color:#000000;font-weight:600;text-align:right;">இராஜ மெலேவார் ஆசிரியர் கல்விக் கழகம், சிரம்பான் </h5>
  </ion-content>
</ion-view>