<ion-view title="பலர்பால்" id="page18" style="background-color:#F05668;">
  <ion-content padding="true" style="background: url(img/vDiwKnVuSLi1Zh3RsL3y_69684150-cartoon-wallpapers.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="page6()" id="page18-button37" class="button button-positive button-block">விளக்கம்</a>
    <a ui-sref="page19()" id="page18-button38" class="button button-positive button-block">எடுத்துக்காட்டுகள்</a>
    <a ui-sref="page29()" id="page18-button39" class="button button-positive button-block">காணொளி</a>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/UjCQxXyBTfyww6i91la3_family-walking-animated-gif-clr.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>