<ion-view title="பலவின்பால்" id="page17" style="background-color:#3EDA84;">
  <ion-content padding="true" style="background: url(img/IfnxRoNQT6KZfGsvisYg_69960782-cartoon-wallpapers.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/pNnXLLKRQli0xiDcokzF_f69cdd21821286221c54db5626e0bb24.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="page17-heading13" style="color:#000000;text-align:center;">குதிரைகள்</h3>
    <div>
      <img src="img/1XY6JBhNQ0uH74fNwbbu_Paasiainen8.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="page17-heading14" style="color:#000000;text-align:center;">வாத்துகள்</h3>
  </ion-content>
</ion-view>