<ion-view title="பலவின்பால்" id="page30">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video9=&quot;https://www.youtube.com/embed/pc6rlEMU-zM?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page30-video9">
      <iframe src="{{videourl_video9}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </ion-content>
</ion-view>