<ion-view title="பால் வகை" id="page6" style="background-color:#71E9DA;">
  <ion-content padding="true" style="background: url(img/T4krNbYlS86Pig2tYXVA_69862933-cartoon-wallpapers.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h2 id="page6-heading6" style="color:#000000;text-align:center;">பலர்பால்</h2>
    <div id="page6-markdown10" class="show-list-numbers-and-dots">
      <ul>
        <li>ஆண்,பெண் இருபாலரையும் சேர்த்து அல்லது தனித்து பன்மையில் குறிக்கும் சொல்</li>
        <li>அர், ஆர் என்பன பலர்பாலை உணர்த்தும்</li>
        <li>
          <p style="color:#000000;">சான்று: அவர், இவர், உண்டார். </p>
        </li>
        <li>
          <p style="color:#000000;">எடுத்துக்காட்டு: எடுத்துக்காட்டு: அவர், அவர்கள், ஆசிரியர், ஆசிரியர்கள், மாணவர், மாணவர்கள், கணவன்மார், வந்தனர், </p>
        </li>
      </ul>
    </div>
    <div>
      <img src="img/y88KIInST2O4BwtdUPQ0_Slide3.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>