<ion-view title="பால் வகை" id="page5" style="background-color:#7893DA;">
  <ion-content padding="true" style="background: url(img/b5Na16sQhWjyCX4fAR9k_70012876-cartoon-wallpapers.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h2 id="page5-heading5" style="color:#000000;text-align:center;">பலவின்பால்</h2>
    <div id="page5-markdown9" class="show-list-numbers-and-dots">
      <ul>
        <li>அஃறிணை உயிரினங்களை பன்மையில் குறிக்கும் சொல்-</li>
        <li>அ, ஆ , வ என்பன பலவின் பாலை உணர்த்தும்</li>
        <li>சான்று: ஓடின, மேய்ந்தன, உண்ணா, திண்ணா, உண்குவ, தின்குவ</li>
        <li>எடுத்துக்காட்டு:</li>
        <li>அவை ,பூனைகள், கற்கள், வந்தன, ஓடின, இருந்தன, முதலியன</li>
      </ul>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/cibOXxcSQ2i62DRUU0qp_Slide5.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>