<ion-view title="பெண்பால்" id="page14">
  <ion-content padding="true" style="background: url(img/vgbXUQVGSzm2dhPBbcFG_0e55b185f3a7480b51354b5966c830d6.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="page4()" id="page14-button28" class="button button-positive button-block">விளக்கம்</a>
    <a ui-sref="page15()" id="page14-button29" class="button button-positive button-block">எடுத்துக்காட்டுகள்</a>
    <a ui-sref="page28()" id="page14-button30" class="button button-positive button-block">காணொளி</a>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/oPlh2X9RRaGlN2J9x4l0_giphy.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>