<ion-view title="பலவின்பால்" id="page16">
  <ion-content padding="true" style="background: url(img/1vV7jEFMT1mD9FzHJUfw_13776791-illustration-d-une-ferme-vide.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="page5()" id="page16-button31" class="button button-positive button-block">விளக்கம்</a>
    <a ui-sref="page17()" id="page16-button32" class="button button-positive button-block">எடுத்துக்காட்டுகள்</a>
    <a ui-sref="page30()" id="page16-button33" class="button button-positive button-block">காணொளி</a>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/i1roeBEjSEWKsgpPgW0u_ddf248ebdc88de89811312a761492e0b.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>