<ion-view title="பயிற்சி " id="page23" style="background-color:#020B13;">
  <ion-content padding="true" class="has-header">
    <a ui-sref="1()" id="page23-button44" class="button button-energized button-block">பயிற்சி 1</a>
    <a ui-sref="2()" id="page23-button46" class="button button-assertive button-block">பயிற்சி 2</a>
    <a ui-sref="3()" id="page23-button47" class="button button-balanced button-block">பயிற்சி 3</a>
    <a ui-sref="page33()" id="page23-button11" class="button button-positive button-block">விடைகள் </a>
    <div>
      <img src="img/lQaX1AgWQICZSSl4t1qQ_TerrificEmbellishedDeer-size_restricted.gif" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>