<ion-view title="ஆண்பால்" id="page12" style="background-color:#9E8FEC;">
  <ion-content padding="true" style="background: url(img/KJU83sm5Rr6AdjcGvYUK_69960782-cartoon-wallpapers.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div>
      <img src="img/hdYGaofCRn2eCv3P9Lpn_61633147-dad-and-daughter-walking-clipart.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="page12-heading9" style="color:#000000;text-align:center;">அப்பா</h3>
    <div>
      <img src="img/QgG9crSaTMkeiBH3ALwS_download1.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="page12-heading10" style="color:#000000;text-align:center;">அண்ணன் </h3>
  </ion-content>
</ion-view>