<ion-view title="பெண்பால்" id="page28">
  <ion-content padding="true" class="has-header">
    <div ng-init="videourl_video7=&quot;https://www.youtube.com/embed/qzp3_qjuYsE?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="page28-video7">
      <iframe src="{{videourl_video7}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
  </ion-content>
</ion-view>