<ion-view title="பால் வகை " id="page3" style="background-color:#23BB85;">
  <ion-content padding="true" style="background: url(img/Qhk3uYocRsO4jSCycwZi_68721325-cartoon-wallpapers.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="page3-heading3" style="color:#000000;text-align:center;">ஆண்பால்</h1>
    <div id="page3-markdown5" class="show-list-numbers-and-dots">
      <ul>
        <li>ஆணை ஒருமையில் குறிக்கும் சொல் </li>
        <li>னகர ஈறுகள் ஆண்பாலை உணர்த்தும். </li>
        <li>எடுத்துக்காட்டு:
          <br>அவன், ஆசிரியன், மாணவன், கணவன், வந்தான், பாடுகிறான், சிரிப்பான், தோற்றான்</li>
      </ul>
    </div>
    <div>
      <img src="img/xOfZMMshQOSRMFNzBlMS_Slide22.JPG" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>