<ion-view title="ஒன்றன்பால்" id="page20">
  <ion-content padding="true" style="background: url(img/0B3m5mxLTmGVAr2l5ZnD_69239545-cartoon-wallpapers.jpg) no-repeat center;background-size:cover;" class="has-header">
    <a ui-sref="page7()" id="page20-button41" class="button button-positive button-block">விளக்கம்</a>
    <a ui-sref="page21()" id="page20-button42" class="button button-positive button-block">எடுத்துக்காட்டுகள்</a>
    <a ui-sref="page13()" id="page20-button43" class="button button-positive button-block">காணொளி</a>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/mkh5FfxwSzqqcRU3K66A_original.gif" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>