<ion-view title="இலக்கணம்" id="page2" style="background-color:#E2C70B;">
  <ion-content padding="true" style="background: url(img/LKkukYIsQMSLnSnhOF5y_62849188-art-wallpapers.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h2 id="page2-heading2" style="color:#000000;text-align:center;">பால் வகைகள்</h2>
    <div id="page2-markdown8" class="show-list-numbers-and-dots">
      <ul>
        <li>பால் என்பது பகுதியைக் குறிக்கும்.</li>
        <li>பால் ஜந்து வகைப்படும். </li>
        <li>உயர்திணையில் ஆண்பால், பெண்பால், பலர்பால், ஆகிய மூன்றும் அடங்கும் </li>
        <li>அஃறிணையில் ஒன்றன்பால், பலவின்பால் ஆகிய இரண்டும் அடங்கும்</li>
      </ul>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/T5gEU7uCRVGVIeSFP3uW_68545344-cartoon-wallpapers.jpg" style="display: block; width: 100%; height: auto; margin-left: auto;">
    </div>
  </ion-content>
</ion-view>