<ion-view title="பால் வகை" id="page4" style="background-color:#CA1639;">
  <ion-content padding="true" style="background: url(img/MvwiDjfT36XVoJvHwzG9_69960782-cartoon-wallpapers.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h1 id="page4-heading4" style="color:#000000;font-weight:400;text-align:center;">பெண்பால்</h1>
    <div id="page4-markdown7" class="show-list-numbers-and-dots">
      <ul>
        <li>
          <p style="color:#000000;">பெண்ணை ஒருமையில் குறிக்கும் சொல் </p>
        </li>
        <li>
          <p style="color:#000000;">எடுத்துக்காட்டு:</p>
          <p style="color:#000000;">அவள், ஆசிரியை, மாணவி, மனைவி, வந்தாள், பாடுகிறாள், சிரிப்பாள், தோற்றாள்</p>
        </li>
      </ul>
    </div>
    <div>
      <img src="img/QAzCYpuT8qqsvjXsdgXt_Slide23.JPG" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>