<ion-view title="பால் வகை " id="page7" style="background-color:#20E440;">
  <ion-content padding="true" style="background: url(img/fj95GHwfQ3SMdpTyudA1_70122453-cartoon-wallpapers.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h2 id="page7-heading7" style="color:#000000;text-align:center;">ஒன்றன்பால்</h2>
    <div id="page7-markdown11" class="show-list-numbers-and-dots">
      <ul>
        <li>அஃறிணை உயிரினங்களை ஒருமையில் குறிக்கும் சொல்</li>
        <li>
          <p style="color:#000000;">எடுத்துக்காட்டு: அது, பூனை, கல், வந்தது, இருந்தது முதலியன</p>
        </li>
        <li>
          <p style="color:#000000;">து, று, டு என்பன ஒன்றன் பாலை உணர்த்தும்.</p>
        </li>
        <li>
          <p style="color:#000000;">சான்று: து, று, டு என்பன ஒன்றன் பாலை உணர்த்தும்.</p>
        </li>
        <li>
          <p style="color:#000000;">சான்று: வந்தது, தாவிற்று, </p>
        </li>
      </ul>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/dxxaVvCUQAu4myL9i6jt_Slide4.JPG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
  </ion-content>
</ion-view>